### Ouvrir un fichier texte

In [3]:
try:
    open("votre_path_fichier_txt", "r") #ex : /dossier1/dossier2/mon_beau_fichier.txt
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'votre_path_fichier_txt'

### Enlever une lettre ou des mots dans une chaîne de caractères

In [4]:
ma_phrase = "Je suis serieusement en retard pour mon cours"
ma_phrase_sans_s  = ma_phrase.replace('s', '')
ma_phrase_sans_s

'Je ui erieuement en retard pour mon cour'

### Lire un fichier csv

In [5]:
import pandas as pd

try:
    # la ligne ci-dessous renvoit un dataframe
    pd.read_csv('votre_path_fichier_csv')  #ex : /dossier1/dossier2/mon_beau_fichier.csv
except Exception as e:
    print(e)

[Errno 2] No such file or directory: 'votre_path_fichier_csv'

### Itération dans un dataframe

In [10]:
d = {'colonne_n1': [1, 2, 3, 4, 5], 'colonne_n2': ["mais", "où", "est", "donc", "Ornicar"]}
mon_dataframe = pd.DataFrame(data=d)

for index ,data in mon_dataframe.iterrows():
    print(f"""valeur col n°1 : {data["colonne_n1"]} {type(data["colonne_n1"])} |"""
          f""" valeur col n°2 :  {data["colonne_n2"]} {type(data["colonne_n2"])} """)

valeur col n°1 : 1 <class 'int'> | valeur col n°2 :  mais <class 'str'>
valeur col n°1 : 2 <class 'int'> | valeur col n°2 :  où <class 'str'>
valeur col n°1 : 3 <class 'int'> | valeur col n°2 :  est <class 'str'>
valeur col n°1 : 4 <class 'int'> | valeur col n°2 :  donc <class 'str'>
valeur col n°1 : 5 <class 'int'> | valeur col n°2 :  Ornicar <class 'str'>

### [MySQL & mysql.connector]  INSERT INTO...VALUES...ON DUPLICATE KEY UPDATE  (Insérer une donnée ou la mettre à jour si elle existe déjà)

In [22]:
try:
    ## Connexion BDD, etc
    
    
    col1_value = "ici"
    col2_value = "là"
    col3_value = "là-bas"
    col4_value = 36
    
    
    sql = f"""INSERT INTO ma_table (col1, col2, col3, col4) """
    sql += f"""VALUES ("{col1_value}", "{col2_value}", "{col3_value}", {col4_value}) """
    sql += f"""ON DUPLICATE KEY UPDATE col4 = {col4_value};"""
    
    print(sql)
    
except Exception as e:
    print(e)
    
finally:
    ## Fermeture connexion BDD, etc
    print("c'est fermé")

INSERT INTO ma_table (col1, col2, col3, col4) VALUES ("ici", "là", "là-bas", 36) ON DUPLICATE KEY UPDATE col4 = 36;
c'est fermé

### Insérer une date dans une table via mysql.connector via strftime()

In [12]:
import datetime

# Date actuelle (au moment de l'écrire du notebook) qui n'est pas acceptée par mysql.connector
mauvais_format_pour_sql_query =  datetime.datetime.now()

bon_format_pour_sql_query = datetime.datetime.now().strftime("%Y%m%d%H%M%S")

print(f"mauvais_format_pour_sql_query : {mauvais_format_pour_sql_query}")
print(f"bon_format_pour_sql_query : {bon_format_pour_sql_query}")

mauvais_format_pour_sql_query : 2022-12-17 14:04:19.364865
bon_format_pour_sql_query : 20221217140419